.home-pile1{
    height: fit-content;
}
body{
    background-color: #f5dbd0;
}

.design-pawprintwalk{
    position: absolute;
    filter: opacity(40%);
    transform: rotate(175deg);
    transform: translateY(60dvh);
    left: 0dvw;
    height: 320px;
    width: auto;
}


@media screen and (max-width: 767.98px){
    .design-doghouse{
    position: absolute;
    filter: opacity(40%);
    transform: rotate(45deg);
    transform: translateY(200dvw);
    left: -125px;
    height: 350px;
    width: auto;
    z-index: -1;
    }


       .about-us-promotion{
        /* border: 1px solid black; */
        transform: translateY(-170px);
        padding: 5dvw 2dvw 5dvw 5dvw;
        video{
            width: 90dvw;
            height: fit-content;
            border-radius: 10px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-procedure{
            /* border: 1px solid black; */
            width: 80dvw;
            padding: 20px 2%;
            h2{
                font-family: 'Preahvihear', sans-serif;
                font-size: 30px;
                margin-bottom: 10px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 15px;
                line-height: 1.5;
                text-align: justify;
            }
            .about-us-step{
                display: flex;
                margin-top: 20px;
                transform: translateX(30px);
                color: #681fad;
                /* border: 1px solid black; */
                p{
                    width: 80%;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    line-height: 1;
                    margin-left: 10px;
                }
            }
        }
    } 
    .about-us-about{
        transform: translateY(-130px);
        img{
            position: relative;
            width: 100dvw;
            height: 250px;
            object-fit: cover;
            left: 10dvw;
            border-radius: 15px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-paragraph{
            /* border: 1px solid black; */
            width: 89.5%;
            transform: translateY(10px);
            padding: 5dvw;
            text-align: center;
            h3{
                font-family: 'Preahvihear', sans-serif;
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #202020;
                margin-top: 30px;
            }
        }
    }
    .about-us-values{
        display: none;
        .values-description{
            display: none;
        }
    }
    .about-us-values-desktop{
        transform: translateY(-70px);
        display: grid;
        place-items: center;


        .values-description{
            /* border: 1px solid black; */
            height: 390px;
            width: 300px;
            border: 3px solid #fcba78;
            margin-bottom: 20px;
            border-radius: 15px;
            background-color: #ffe5d7ab;
            h3{
                text-align: center;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 30px;
                padding: 30px 0px 0px 0px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                text-align: justify;
                padding: 20px 20px;
                font-weight: bold;
                line-height: 1.5;
            }
            ul{
                width: 230px;
                transform: translateX(40px);
                position: relative;
                top: -20px;
                li{
                    font-family: 'Montserrat', sans-serif;
                    padding-right: 20px;
                    font-size: 15px;
                    text-align: justify;
                    font-weight: bold;
                    line-height: 1.5;                    
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
    .design-doghouse{
        position: absolute;
        filter: opacity(40%);
        transform: rotate(45deg);
        transform: translateY(280dvh);
        left: -125px;
        height: 350px;
        width: auto;
        z-index: -1;
    }


    .about-us-promotion{
        /* border: 1px solid black; */
        transform: translateY(-170px);
        padding: 5dvw 2dvw 5dvw 5dvw;
        video{
            width: 85dvw;
            height: fit-content;
            border-radius: 10px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-procedure{
            /* border: 1px solid black; */
            width: 60dvw;
            padding: 20px 2%;
            h2{
                font-family: 'Preahvihear', sans-serif;
                font-size: 30px;
                margin-bottom: 15px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 20px;
                line-height: 1.5;
                text-align: justify;
            }
            .about-us-step{
                display: flex;
                margin-top: 20px;
                transform: translateX(30px);
                color: #681fad;
                /* border: 1px solid black; */
                p{
                    width: 80%;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    line-height: 1;
                    margin-left: 10px;
                }
            }
        }
    }
    .about-us-about{
        transform: translateY(-150px);
        img{
            position: relative;
            width: 100dvw;
            height: 250px;
            object-fit: cover;
            left: 10dvw;
            border-radius: 15px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-paragraph{
            width: 80%;
            transform: translateY(10px);
            padding: 0px 8dvw;
            text-align: center;
            h3{
                font-family: 'Preahvihear', sans-serif;
                font-size: 36px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #202020;
                margin-top: 30px;
            }
        }
    }
    .about-us-values-desktop{
        display: none;
        .values-description{
            display: none;
        }
    }
    .about-us-values{
        transform: translateY(-100px);
        .values-description-query{
            display: flex;
            justify-content: center;
        }
        .values-description{
            /* border: 1px solid black; */
            height: 390px;
            width: 300px;
            border: 3px solid #fcba78;
            margin: 0px 20px;
            border-radius: 15px;
            background-color: #ffe5d7ab;
            h3{
                text-align: center;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 30px;
                padding: 30px 0px 0px 0px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                text-align: justify;
                padding: 20px 20px;
                font-weight: bold;
                line-height: 1.5;
            }
            ul{
                width: 230px;
                transform: translateX(40px);
                position: relative;
                top: -20px;
                li{
                    font-family: 'Montserrat', sans-serif;
                    padding-right: 20px;
                    font-size: 15px;
                    text-align: justify;
                    font-weight: bold;
                    line-height: 1.5;
                    
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    .design-doghouse{
        position: absolute;
        filter: opacity(40%);
        transform: rotate(45deg);
        transform: translateY(180dvh);
        left: -125px;
        height: 350px;
        width: auto;
        z-index: -1;
    }
    .home-pile1{
        height: 1420px;
    }
    .about-us-promotion{
        /* border: 1px solid black; */
        transform: translateY(-200px);
        padding: 5dvw 2dvw 5dvw 5dvw;
        display: flex;
        video{
            width: 60dvw;
            height: fit-content;
            border-radius: 10px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-procedure{
            /* border: 1px solid black; */
            padding: 5px 2%;
            h2{
                font-family: 'Preahvihear', sans-serif;
                font-size: 32px;
                margin-bottom: 10px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: bold;
                margin-top: 10px;
                margin-bottom: 20px;
                line-height: 1.5;
                text-align: justify;
            }
            .about-us-step{
                display: flex;
                margin-top: 20px;
                transform: translateX(30px);
                color: #681fad;
                /* border: 1px solid black; */
                p{
                    width: 80%;
                    margin-bottom: 0px;
                    margin-top: 0px;
                    line-height: 1;
                    margin-left: 10px;
                }
            }
        }
    }
    .about-us-about{
        transform: translateY(-200px);
        img{
            position: relative;
            width: 750px;
            left: 45dvw;
            border-radius: 15px;
            box-shadow: 2px 2px 15px black;
        }
        .about-us-paragraph{
            /* border: 1px solid black; */
            width: 40%;
            transform: translateY(-470px);
            padding: 5px 40px;
            h3{
                font-family: 'Preahvihear', sans-serif;
                font-size: 38px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 0.5;
                line-height: 1.5;
                color: #202020;
                margin-top: 30px;
            }
        }
    }
    .about-us-values{
        display: none;
        .values-description{
            display: none;
        }
    }
    .about-us-values-desktop{
        transform: translateY(-480px);
        display: flex;
        justify-content: center;
        .values-description{
            /* border: 1px solid black; */
            height: 390px;
            width: 300px;
            border: 3px solid #fcba78;
            margin: 0px 20px;
            border-radius: 15px;
            background-color: #ffe5d7ab;
            h3{
                text-align: center;
                font-family:Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 30px;
                padding: 30px 0px 0px 0px;
                color: #e28f3b;
            }
            p{
                font-family: 'Montserrat', sans-serif;
                font-size: 15px;
                text-align: justify;
                padding: 20px 20px;
                font-weight: bold;
                line-height: 1.5;
            }
            ul{
                width: 230px;
                transform: translateX(40px);
                position: relative;
                top: -20px;
                li{
                    font-family: 'Montserrat', sans-serif;
                    padding-right: 20px;
                    font-size: 15px;
                    text-align: justify;
                    font-weight: bold;
                    line-height: 1.5;                    
                }
            }
        }
    }

}
