@import url(fonts/Montserrat.zip);
.home-pile1{
    transform: translateY(-150px);
}
body{
    background-color: #ffeee6;
}

.pet-details{
    padding: 10px 5dvw 0px 5dvw;

    h3{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        margin: 10px;
    }
    h4{
        background-color: #fda9556b;
        border-radius: 5px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        width: fit-content;
        padding: 3px 7px 3px 7px;
        

    }
    .pet-details-targetDetails{
        position: relative;
        transform: translateY(-20px);
        left: 75px;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.5px;
        font-size: 14px;
        line-height: 1.5;
        text-align: justify;
    }
}

.application-form{
    h3{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.5;
        line-height: 1.5;
        font-size: 24px;
        color: #e28f3b;
    }
    label{
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }
}

.input-text, .input-option, .input-checklist{
    input{
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        border-bottom: 1px solid #412d22;
        background-color: transparent;
        padding: 3px 10px 3px 10px;
        height: 25px;
    }
    textarea{
        background-color: #fda95521;
        border: 1px solid #bd8044;
        padding: 10px 10px 10px 10px;
        border-radius: 5px;

    }

}








@media screen and (max-width: 767.98px){
    .pet-info{
            /* border: 1px solid black; */
            padding: 5dvw 10dvw 5dvw 10dvw;
            hr{
                color: #412d22;
                border: 1px solid #412d22;
            }
        }
        .pet-img{
            text-align: center;

            img{
            height: 70dvw;
            border-radius: 15px;
        }
    }

    .application-form{
        margin: 0px 7dvw;
        border: 1px solid #ffad5a;
        border-radius: 5px;
        background-color: #fcf3ea;
        padding:  10px 35px 10px 35px;
        box-shadow: 2px 2px 7px black;
        input[type="submit"]{
            height: 40px;
            width: 100px;
            border-radius: 10px;
            border: transparent;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #ffad5a;
            color: #fcf3ea;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5;
            font-weight: bold;
            
        }
    }

    .input-text input, .input-text textarea{
        width: 94%;
        margin: 10px 0px 15px 0px;
    }
    .application-form{
        h3{
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5;
            line-height: 1.5;
            font-size: 28px;
            color: #e28f3b;
            margin: 10px 0px 25px 0px;
        }
        label{
            font-size: 18px;
            
        }
    }
    .input-option{
        .input-radio{
            display: none;
        }
        .input-dropdown select{
            font-family: Arial, Helvetica, sans-serif;
            background-color: #fda9552c;
            border: none;
            border-radius: 5px;
            padding: 3px 10px 3px 10px;
            margin: 10px 0px 15px 0px;
            height: 30px;
            width: 100%;
        }
    }
    .input-checklist, .input-option{
        label{
            font-size: 14px;
            position: relative;
            top: -7px;
            left: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .furparent{
        i{
            font-weight: lighter;
            font-size: 14px;
            position: relative;
            top: -25px;
        }
        .furparent-header{
            margin-top: 30px;
        }

    } 
}

@media screen and (min-width: 768px) and (max-width: 991.98px){
.pet-info{
            /* border: 1px solid black; */
            padding: 5dvw 10dvw 5dvw 10dvw;
            hr{
                color: #412d22;
                border: 1px solid #412d22;
            }
        }
        .pet-img{
            text-align: center;

            img{
            height: 70dvw;
            border-radius: 15px;
        }
    }
    .pet-details{
        padding: 10px 5dvw 0px 5dvw;
        h3{
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin: 10px;
        }
        h4{
            background-color: #fda9556b;
            border-radius: 5px;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 14px;
            width: fit-content;
            padding: 3px 7px 3px 7px;
            

        }
        .pet-details-targetDetails{
            position: relative;
            transform: translateY(-20px);
            left: 75px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5px;
            font-size: 14px;
            line-height: 1.5;
            text-align: justify;
        }
    }


    .application-form{
        margin: 0px 7dvw;
        border: 1px solid #ffad5a;
        border-radius: 5px;
        background-color: #fcf3ea;
        padding:  20px 60px 20px 60px;
        box-shadow: 2px 2px 7px black;
        input[type="submit"]{
            height: 40px;
            width: 100px;
            border-radius: 10px;
            border: transparent;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #ffad5a;
            color: #fcf3ea;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5;
            font-weight: bold;
            
        }
    }
    .personal-info{
        h3{
            margin-bottom: 30px;
        }
        label{
            font-size: 20px;
        }
    }
    
    .input-text {
        .name-first{
            width: 33dvw;
            
        }
        .name-last{
            width: 20dvw;
            
        }
        .address{
            width: 55dvw;
        }  
    }
    .phoneNemail{
        .personal-info-q4{
               /* display: flex;  */
               /* border: 1px solid black; */
               padding-right: 50px;
               width: 26dvw;
               input{
                width: 100%;
               }
        }
        display: flex;
    }
    .birthNstatus{
        .personal-info-q5{
            /* border: 1px solid black; */
            padding-right: 50px;
            width: 26dvw;
            .input-option {
                display: flex;
                /* border: 1px solid black; */
                width: fit-content;
                .input-radio{
                    margin-right: 40px;
                }
            }
            .input-text{
                input{
                    width: 26dvw;
                }
            }
            .input-dropdown{
                display: none;
            }
            
        }
        display: flex;
    }
    .furparent{
        .furparent-header{
            margin-bottom: 20px;
            margin-top: 30px;
        }
        label{
            font-size: 20px;
        }

    }
    .input-checklist, .input-option{
        label{
            font-size: 14px;
            position: relative;
            top: -7px;
            left: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .input-checklist-q6{
        display: flex;
    }
    .workNsocial{
        .personal-info-q7{
               /* display: flex;  */
               /* border: 1px solid black; */
               padding-right: 50px;
               width: 26dvw;
               input{
                width: 100%;
               }
        }
        display: flex;
    }
    .input-checklist-q9{
        display: flex;
        .input-checklist-q9-pt{
            /* border: 1px solid black; */
            width: 26dvw;
            input{
                margin-bottom: 10px;
            }

        }
    }
    .input-option{
        .input-dropdown{
            display: none;
        }
        .input-option-q4-pt, .input-option-q1-pt{
            /* border: 1px solid black; */
            width: 26dvw;
            margin-bottom: 20px;
        }
    }
    .input-checklist{
        .input-checklist-q6-pt{
            /* border: 1px solid black; */
            width: 20dvw;
            margin-bottom: 20px;
        }
    }
        .input-text input, .input-text textarea, .input-option .status-option{
        margin: 20px 0px 25px 0px;
    }
    
}

@media screen and (min-width: 992px){
    .pet-info{
        /* border: 1px solid black; */
        padding: 5dvw 15dvw 5dvw 15dvw;
        display: flex;
        hr{
             color: #412d22;
            border: 1px solid #412d22;
            width: 100%;
            transform: translateX(30px);
        }
    }
    .pet-img{
        text-align: center;

        img{
            height: 256px;
            border-radius: 15px;
            transform: translateY(20px);
        }
    }
    .pet-details{
        padding: 10px 5dvw 0px 5dvw;
        h3{
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 24px;
            margin: 10px;
        }
        h4{
            background-color: #fda9556b;
            border-radius: 5px;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 14px;
            width: fit-content;
            padding: 3px 7px 3px 7px;
            

        }
        .pet-details-targetDetails{
            position: relative;
            transform: translateY(-20px);
            left: 75px;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5px;
            font-size: 14px;
            line-height: 1.5;
            text-align: justify;
        }
    }

    .application-form{
        margin: 0px 14dvw;
        border: 1px solid #ffad5a;
        border-radius: 5px;
        background-color: #fcf3ea;
        padding:  20px 60px 20px 60px;
        box-shadow: 2px 2px 7px black;
        input[type="submit"]{
            height: 40px;
            width: 100px;
            border-radius: 10px;
            border: transparent;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: #ffad5a;
            color: #fcf3ea;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.5;
            font-weight: bold;
            
        }
    }
    .personal-info{
        h3{
            margin-bottom: 30px;
        }
        label{
            font-size: 20px;
        }
    }
    
    .input-text {
        .name-first{
            width: 33dvw;
            
        }
        .name-last{
            width: 20dvw;
            
        }
        .address{
            width: 55dvw;
        }  
    }
    .phoneNemail{
        .personal-info-q4{
               /* display: flex;  */
               /* border: 1px solid black; */
               padding-right: 50px;
               width: 26dvw;
               input{
                width: 100%;
               }
        }
        display: flex;
    }
    .birthNstatus{
        .personal-info-q5{
            /* border: 1px solid black; */
            padding-right: 50px;
            width: 26dvw;
            .input-option {
                display: flex;
                /* border: 1px solid black; */
                width: fit-content;
                .input-radio{
                    margin-right: 40px;
                }
            }
            .input-text{
                input{
                    width: 26dvw;
                }
            }
            .input-dropdown{
                display: none;
            }
            
        }
        display: flex;
    }
    .furparent{
        .furparent-header{
            margin-bottom: 20px;
            margin-top: 30px;
        }
        label{
            font-size: 20px;
        }

    }
    .input-checklist, .input-option{
        label{
            font-size: 14px;
            position: relative;
            top: -7px;
            left: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .input-checklist-q6{
        display: flex;
    }
    .workNsocial{
        .personal-info-q7{
               /* display: flex;  */
               /* border: 1px solid black; */
               padding-right: 50px;
               width: 26dvw;
               input{
                width: 100%;
               }
        }
        display: flex;
    }
    .input-checklist-q9{
        display: flex;
        .input-checklist-q9-pt{
            /* border: 1px solid black; */
            width: 26dvw;
            input{
                margin-bottom: 10px;
            }

        }
    }
    .input-option{
        .input-dropdown{
            display: none;
        }
        .input-option-q4-pt, .input-option-q1-pt{
            /* border: 1px solid black; */
            width: 26dvw;
            margin-bottom: 20px;
        }
    }
    .input-checklist{
        .input-checklist-q6-pt{
            /* border: 1px solid black; */
            width: 20dvw;
            margin-bottom: 20px;
        }
    }
        .input-text input, .input-text textarea, .input-option .status-option{
        margin: 20px 0px 25px 0px;
    }
    
}