
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}
html{
    /* background-color: #ffeee6; */
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}


/* phone */
@media screen and (max-width: 767.98px){
    /* HEADER - Mobile */
    *{
        scrollbar-width: none;
    }
    header .background-logo{
        /* background-color: green; */
        background-image: url(media/icon/header-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        text-shadow: 0px 10px 10px rgb(187, 185, 185);
        filter: blur(1.5px);
        height: 140px;
        width: auto;
        box-shadow: 0px 3px 20px ;

    }
    .horizontal-logo, header img{
    /* border: 2px solid black; */
    position: relative;
    height: 140px;
    width: auto;
    left: 3dvw;
    }    
    .header-bar{
        position: relative;
        /* border: 2px solid black; */
        height: 100%;
        width: auto;
        transform: translateY(-140px);
    }
    .bars{
        color:#ffeee6;
        font-size: 42px;
        position: relative;
        right: 10dvw;

    }
    .menu-bar{
        text-align: right;
        width: 100%;
        transform: translateY(-90px);
    }
    .menu{
        background-color: #412d22;
        transform: translateY(40px);
        padding: 0px 5dvw;
        padding-bottom: 5dvw;
        list-style: none;
        display: none;
    }
    .menu-bar li{
        text-decoration: none;
        position: relative;
        text-align: left;
        width: 100%;
        height: 15vdw;
        padding: 5dvw 0;      
        border-bottom: 3px solid #b3a1b9;
        font-size: 5dvw;
    }
    .menu-bar a{
        text-transform: uppercase;
        color:#ffeee6;
    }


    /* FOOTER - Mobile */
    footer{
    height: auto;
    width: 100%;
    background-color: #4e3629;
    width: 100%;
    text-align: center;
    }
    footer img{
        display: none;
    }
    footer h4{
        color: #fda955;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        padding: 10px 0px 20px 0px;
    }
    .footer-contact-info{
        /* border: 2px solid black; */
        width: 100%;
    }
    .footer-contact p{
        font-size: 15px;
        margin-bottom: 25px;
        color: #fda955;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    .footer-contact i{
        font-size: 28px;
        color: #634434;
        margin-bottom: 10px;
    }
    .footer-socials{
        height: auto;
        width: 100%;
        background-color: #412d22;
        transform: translateY(0%);
    }
    .footer-icon{
        font-size: 23px;
    }
    .footer-icon i{
        margin: 23px 8px;
        color: #b3a1b9;
    }
    .copyright{
        font-family: Arial, Helvetica, sans-serif;
        color: #b3a1b9;
        font-size: 15px;
        padding-bottom: 10px;
    }
}




/* tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px){
    header .background-logo{
        /* background-color: gray; */
        background-image: url(media/icon/header-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        text-shadow: 0px 10px 10px black;
        filter: blur(1.5px);
        height: 150px;
        width: auto;
        box-shadow: 0px 3px 20px ;
    }
    .horizontal-logo, header img{
    height: 150px;
    width: auto;
    }
    .header-bar{
        padding: 0px 7dvw;
        position: relative;
        /* border: 2px solid black; */
        height: 100%;
        width: auto;
        transform: translateY(-150px);
    }
    .bars{
        display: none;
    }
    .menu-bar{
        text-align: right;
        width: 100%;
        transform: translateY(-85px);
    }
    .menu li, header a{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        color:#ffeee6;
        font-size: 19px;
        letter-spacing: 1px;
        padding-right: 10px;
    }
    
    /* FOOTER - Tablet*/
    footer{
    height: auto;
    width: 100%;
    background-color: #4e3629;
    padding: 10px 0px 0px 0px;
    }
    footer img{
        float: right;
        opacity: 0.50;
        position: relative;
        right: 50px;
        transform: translateY(10%);
        height: 125px;
        width: auto;

    }
    footer h4{
        display: none;
    }
    .footer-contact-info{
        /* border: 2px solid black; */
        width: 100%;
        padding: 10px 50px 10px 50px;
    }
    .footer-contact p{
        font-size: 15px;
        color: #fda955;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        transform: translateY(-150%);
        display: flex;
        position: relative;
        left: 50px;
    }
    .footer-contact i{
        font-size: 28px;
        color: #634434;
        display: flex;
    }
    .footer-socials{
        height: auto;
        width: 100%;
        background-color: #412d22;
        transform: translateY(0%);
        padding: 20px 25px 20px 25px;
    }
    .footer-icon{
        font-size: 23px;
        float: right;
        position: relative;
        right: 50px;

    }
    .footer-icon i{
        color: #b3a1b9;
        margin-left: 10px;
    }
    .copyright{
        font-family: Arial, Helvetica, sans-serif;
        color: #b3a1b9;
        font-size: 15px;
    }
}






/* desktop */
@media screen and (min-width: 992px){
    header .background-logo{
        /* background-color: rgb(255, 0, 0); */
        background-image: url(media/icon/header-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        text-shadow: 0px 10px 10px black;
        filter: blur(1.5px);
        height: 150px;
        width: auto;
        box-shadow: 0px 3px 20px ;
    }
    .horizontal-logo, header img{
    height:  150px;
    width: auto;
    }
    .header-bar{
        padding: 0px 5dvw;
        position: relative;
        /* border: 2px solid black; */
        height: 100%;
        width: auto;
        transform: translateY(-150px);
    }
    .bars{
        display: none;
    }
    .menu-bar{
        text-align: right;
        width: 100%;
        transform: translateY(-85px);
    }
    .menu li, header a{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        color:#ffeee6;
        font-size: 24px;
        letter-spacing: 1px;
        padding-right: 10px;
    }

        /* FOOTER - desktop*/
    footer{
    height: auto;
    width: 100dvw;
    background-color: #4e3629;
    padding: 10px 0px 0px 0px;
    }
    footer img{
        float: right;
        opacity: 0.50;
        position: relative;
        right: 75px;
        transform: translateY(10%);
        height: 125px;
        width: auto;
    }
    footer h4{
        display: none;
    }
    .footer-contact-info{
        /* border: 2px solid black; */
        width: 100%;
        padding: 10px 50px 10px 50px;
    }
    .footer-contact p{
        font-size: 15px;
        color: #fda955;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        transform: translateY(-150%);
        display: flex;
        position: relative;
        left: 50px;
    }
    .footer-contact i{
        font-size: 28px;
        color: #634434;
        display: flex;
    }
    .footer-socials{
        height: auto;
        width: 100%;
        background-color: #412d22;
        transform: translateY(0%);
        padding: 20px 25px 20px 25px;
    }
    .footer-icon{
        font-size: 23px;
        float: right;
        position: relative;
        right: 75px;

    }
    .footer-icon i{
        color: #b3a1b9;
        margin-left: 10px;
    }
    .copyright{
        font-family: Arial, Helvetica, sans-serif;
        color: #b3a1b9;
        font-size: 15px;
    }
}